
<div class="container-fluid">
<div class="row text-center">
  <div class="col-sm-12">
    <h1>We've Found These Beers!</h1>
  </div>
</div>



<div class="row text-center">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-4">
    <h3>Style: <%= @beer["data"][0]["style"]["name"] %></h3>
    <p><%= @beer["data"][0]["style"]["description"]%></p>
    </div>
    <div class="col-sm-6">
      <h3><%= @artist_name %></h3>
      <%= image_tag  @artist_pic, :class => 'artist-img' %>
    </div>
</div>
</div>

<div class="container-fluid text-center">
  <h2>BEERS</h2>
  <% beer_info = @beer["data"] %>
  <% beer_info.each do |beer| %>
<div class="row">
  <div class="col-sm-12">
    <h3><%= beer["nameDisplay"] %></h3>
  </div>
</div>

  <% if beer["description"].nil? %>
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4">
        <p><em>No description available...you'll have to try it and let us know what you think</em></p>
      </div>
  <% else %>
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4">
        <p><%= beer["description"] %></p>
      </div>
  <% end %>

  <% if beer["labels"]%>
      <div class="col-sm-6 beer-container">
        <%= image_tag beer["labels"]["medium"], :class => "beer-container" %>
      </div>


    <% else %>
      <div class="col-sm-6 beer-glass">
        <%= image_tag("pint_medium.png", :class => "beer-container") %>
      </div>
    </div>
    <% end %>
  <% end %>


<% if ((@id != "6969") && (@search_count.to_i < 3)) %>
  <%= button_to "Find more beers", params: {:beer_id => @id, :artist_pic => @artist_pic, :artist_name => @artist_name, :search_count => @search_count } %>
<% else %>
  <p>That's all the beers we have for this song! Try a new search!</p>
<% end %>
<%= link_to "New Search", root_path %>
</div>
