<div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-12">
      <h2>Okay, You Just Want To Explore Beers</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 back-home">
      <%= link_to "Actually, I'll Search by Song", root_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Tell us, what are you looking for?</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <% if flash[:error] %>
        <p><%= flash[:error] %></p>
      <% end %>
    </div>
  </div>
  <div class="row choose-beer-form">
    <div class="col-sm-12 form-holder">
      <%= form_tag @beer do %>
        <%= radio_button_tag(:description, "adventure") %>
        <%= label_tag(:description, "I want something adventerous that I've never tried before!") %><br>
        <%= radio_button_tag(:description, "diet") %>
        <%= label_tag(:description, "I'm on a diet") %><br>
        <%= radio_button_tag(:description, "coffee") %>
        <%= label_tag(:description, "Maybe something with a little pick-me-up?") %><br>
        <%= radio_button_tag(:description, "us-classic") %>
        <%= label_tag(:description, "Give me something classic, from the U.S.") %><br>
        <%= radio_button_tag(:description, "pilsener") %>
        <%= label_tag(:description, "Real beer fan, right here!") %><br>
        <%= radio_button_tag(:description, "super-diet") %>
        <%= label_tag(:description, "Seriously, I'm on a diet") %><br>
        <%= radio_button_tag(:description, "ice") %>
        <%= label_tag(:description, "Something watery, perhaps?") %><br>
        <%= radio_button_tag(:description, "surprise") %>
        <%= label_tag(:description, "SURPRISE ME!") %><br>
        <%= hidden_field_tag "custom_search", "true"%>
        <%= submit_tag "Get Me Some Beers!" %>
      <% end %>
    </div>
  </div>
</div>
