<% if @search_count < 3 %>
  <%= button_to "More of this", beers_path, params: { beer_id: @beer["data"][0]["styleId"], more_of_the_same: "true", search_count: @search_count } %><br>
  <%= button_to "Suprise me again!", beers_path, params: { custom_search: "true", description: "surprise", search_count: @search_count } %><br>
<% end %>
<%= link_to "Back to beer search", new_beer_path %><br>
<%= link_to "Find beers by song", root_path %><br>


<h1><%=  @beer["data"][0]["style"]["shortName"] %></h1>
<h3><%=  @beer["data"][0]["style"]["description"] %></h3>
<% @search_count += 1%>

<% @beer["data"].each do |beer| %>
  <h2><%= beer["nameDisplay"] %></h2>
  <% if beer["description"].nil? %>
    <em>No description available! You'll have to try it and let us know what you think!</em>
  <% else %>
    <p><%=  beer["description"] %></p>
  <% end %>
<% end %>
