
<%= button_to "More of this", new_beer_path, params: { beer_id: @beer["data"][0]["styleId"], more_of_the_same: "true" } %><br>
<%= link_to "Back to beer search again", new_beer_path %><br>
<%= link_to "Find beers by song", root_path %><br>
<%= link_to "What song should I listen to?", root_path %><br>

<h1><%=  @beer["data"][0]["style"]["shortName"] %></h1>
<h3><%=  @beer["data"][0]["style"]["description"] %></h3>

<% @beer["data"].each do |beer| %>
  <h2><%= beer["nameDisplay"] %></h2>
  <% if beer["description"].nil? %>
    <em>No description available</em>
  <% else %>
    <p><%=  beer["description"] %></p>
  <% end %>
<% end %>
