
<% if @track_details %>

  <h1><%= @track_name %></h1>
  <h2>by <%= @artist_name %></h2>

  <p>Dancey: <%= @track_details["danceability"]%></p>
  <p>Energy: <%= @track_details["energy"]%></p>
  <%= link_to "New Search", root_path %>
  <%= link_to "Find A Beer", beers_path(info: { "beer_id" => @beer_id, "track_details" => @track_details, "artist_details" => @artist_details, "search_count" => 1 }) %>

<% else %>
<p><%= @not_found["error"] %></p>
<p>You entered <%= @artist_name %> as the artist</p>
<p>and</p>
<p><%= @track_name%> </p>
<h1>Try A New Search</h1>
<%= form_for Music.new, :url => {:action => 'index'} do |f| %>

<% if flash[:error] %>
<p><%= flash[:error] %></p>
 <% flash.clear %>
<% end %>

  <p>
    Artist<br/><%= f.text_field 'artist' %>
  </p>
  <p>
    Track<br/><%= f.text_field 'track' %>
  </p>

  <p>
    <%= f.submit "Submit Data" %>
  </p>
<% end %>
<% end %>
