<div class="container-fluid text-center">
  <% if @track_details %>
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @track_name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <h2>by <%= @artist_name %></h2>
    </div>
  </div>
  <% if @artist_details["images"].length >= 2%>
    <div class="row">
      <div class="col-sm-12">
        <%= image_tag @artist_details["images"][1]["url"], :class => "artist-img" %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-sm-12">
        <%= image_tag("cowbell.jpeg", :class => "artist-img")  %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-12">
      <p>Dancey: <%= @track_details["danceability"]%></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <p>Energy: <%= @track_details["energy"]%></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <a target="_blank" href="<%=@song_preview%>">Hear A Clip</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= link_to "New Search", root_path %>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= link_to "Find A Beer", beers_path(info: { "beer_id" => @beer_id, "track_details" => @track_details, "artist_details" => @artist_details, "search_count" => 1 }) %>
      </div>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="col-sm-12">
      <p><%= @not_found["error"] %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <h2>by <%= @artist_name %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>You entered <%= @artist_name %> as the artist</p>
      <p>and</p>
      <p><%= @track_name%> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>Try A New Search</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= form_for Music.new, :url => {:action => 'index'} do |f| %>

      <% if flash[:error] %>
      <p><%= flash[:error] %></p>
      <% end %>

        <p>
          Artist<br/><%= f.text_field 'artist' %>
        </p>
        <p>
          Track<br/><%= f.text_field 'track' %>
        </p>

        <p>
          <%= f.submit "Submit Data" %>
        </p>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
