<!DOCTYPE html>
<html>
  <head>
    <title>Hopsify</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Cantarell|Raleway" rel="stylesheet">
  </head>

  <body id="body-overrides">
    <% unless controller_name == 'statics'%>
      <%= render 'layouts/nav' %>
    <% end %>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
